.about {
    padding: 1rem;

    p {
        text-align: justify;
    }

    header {
     background: linear-gradient(90deg, #FFFFFF 0%, #5C7099 100%);
     padding: 3rem .5rem;
     text-align: center;
     font-size: 40px;
     font-weight: 700;

     @media (max-width: 900px) {
        font-size: 24px;
     }

    }
    .home-hospitals {
        margin: 3rem auto;
        width: 85%;
        text-align: justify;
        line-height: 1.8rem;
    }
    .donation-img-container {
        text-align: center;

        img {

            @media (max-width: 700px) {
                max-width: 100%;
            }
        }
    }
}