.about {
    padding: 1rem;

    header {
     background: linear-gradient(90deg, #FFFFFF 0%, #5C7099 100%);
     padding: 3rem .5rem;
     text-align: center;
     font-size: 40px;
     font-weight: 700;

    }
    .home-hospitals {
        margin: 3rem 8rem;
        width: 80%;
        text-align: justify;
        line-height: 1.8rem;
    }
    .donation-img-container {
        text-align: center;
    }
    .hosp {
        border: 1px solid red;
        height: 500px;
    }
}