.input {
    position: relative;
    display: block;
}
.password-icon {
    position: absolute;
    display: inline-block;
    top: 24.5rem;
    left: 38rem;
    cursor: pointer;

    @media (max-width: 900px) {
        top: 50.3rem;
        left: 35rem;
        
    }

    @media (max-width: 500px) {
        top: 44.8rem;
        left: 18rem;
        
    }
}