.my-btn {
    display: inline-block;
    text-align: center;
    background-color: #08299B;
    color: #ffff;
    border-radius: 12px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: -0.011em;

    span {
        padding-right: .5rem;
    }
}
