.my-btn {
    display: inline-block;
    text-align: center;
    background-color: #08299B;
    color: #ffff;
    border-radius: 12px;
    padding: 15px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -0.011em;

    @media (max-width: 1740px) {
        border-radius: 12px;
        font-weight: 500;
        font-size: 18px;
        line-height: 80%;
        border-radius: 5px;
       
    }

    @media (max-width: 900px) {
        font-size: 12px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 15px 20px;
    }

    span {
        padding-right: .5rem;
    }
}
