.footer {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;

    div {
        width: 500px;

        h1 {
            color: #08299B;
            font-size: 30px;

        }
        p {
            margin: 1rem 0;
        }
    }
}